.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1024px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 1280px) {
    padding-left: calc( (100% - 1220px) / 2);
    padding-right: calc( (100% - 1220px) / 2);
  }

  @media (min-width: 1600px) {
    padding-left: calc( (100% - 1540px) / 2);
    padding-right: calc( (100% - 1540px) / 2);
  }
}